<!DOCTYPE html>
<html>
    <head>
        <title>App Boilerplate</title>
    </head>
    <body>
        <h1>App Boilerplate</h1>
        <p>Add anything you want to show in this handlebar template file.</p>
    </body>
</html>